[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangerestframework = "*"
drf-schema-adapter = "*"
djangorestframework-datatables-editor = "*"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.9"
