{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "auto_datatables/css/auto-datatable.css" %}">
{% endblock %}


{% block content %}
 {% include "auto_datatables/datatable.html" %}
{% endblock content %}


{% block scripts %}
<script>
  {% comment %} $(document).ready(function() { {% endcomment %}
    var $table = $('.datatable').AutoTable({});
    $table.on( 'search.dt', function () {
      console.log( 'Table redrawn due to a search' );
  } );
  {% comment %} $table.on( 'draw.dt', function () {
    $table.searchPanes.rebuildPane();

} ) {% endcomment %}
  {% comment %} }) {% endcomment %}
</script>
{% endblock scripts %}