{% spaceless %}
<table class="datatable w-100 {{ table_css_class }}" data-ajax="{{ request.path }}?format=datatables">
 <thead>
   <tr>
     {% for f in view.build_columns %}
       <th {% for k, v in f.items %}{% if k != "title" %}
         data-{{ k }}= "{{ v }}"
         {% endif %}{% endfor %}
         class='{{ f.class }} {{f.name}}'
         >{{ f.title|capfirst }}</th>
     {% endfor %} 
   </tr>
 </thead>
</table>
{% comment %} {% if view.row_template_name %}
<div id='template' style="display: none;">
{% include view.row_template_name %}
</div>
{% endif %} {% endcomment %}

{% endspaceless %}