.auto-table-wrapper {
  width: 100%;
}

.auto-table-wrapper.templated .dataTables_wrapper {
    display: none !important;
  }

.auto-table-wrapper #template-container {
  display: none;
}

#template-container .card {
page-break-inside: avoid;
}

.auto-table-wrapper.templated #template-container {
  display: block;
}